<!DOCTYPE html> 
<html lang="ru">          
    <head>   
        <style>
            .page {
                display: flex;
            }
            
            main {
                width: 80%;
            }       

            .container {
                background-color: #F5F5DC;
                margin: 10px;
                border-radius: 20px;
                padding: 10px;
                width: max-content;
            }

            tr {
                display: grid; 
                grid-template-columns: 2fr 1.5fr 2fr;
            }

        </style>    
    </head>
    <body>       
        <header>
            <h1>Поиск по корпусу пересказов "Евгения Онегина"</h1>
        </header>
        <div class='page'>
            <main>
                <form method="post">
                    <div class="mb-3">
                        <label for="search" class="form-label" style="padding-left: 20px;">Слово:</label>
                        <input type="text" class="form-control" id="search" name="search" required>
                        <br>
                        <div class="container">
                            <label for="index" class="form-label">Индекс:</label>
                            <select name="index" id="index" class="form-control" required>
                                <option value="">--Please choose an option--</option>
                                <option value="index_label">Поиск по лэйблам</option>
                                <option value="index_sents">Поиск по предложению</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Искать</button>
                    </div>
                </form>
                <br>
                <div><h3>Результаты поиска</h3></div>
                <div class="results">
                    {% for item in res %}
                        <table>
                            <tr>
                                <td></td>
                                <th>{{item['_source']['span']}} — <i>{{item['_source']['label_name']}}</i></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{item['_source']['left_context']}}</td>
                                <th>{{item['_source']['sentence']}}</td>
                                <td >{{item['_source']['right_context']}}</td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
            </main>
        </div>
    <footer>
    </footer>
  </body>
</html> 
